@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap');

// colors
$color-black: #0e111b;
$color-white: #fff;
$color-white-50: #ffffff50;
$color-white-30: #ffffff30;
$color-white-20: #ffffff20;
$color-white-10: #ffffff10;
$color-white-5: #ffffff05;
$color-primary: #fdc000;
$color-hover: #f86a05;
$color-area: #1c212e;


// --- style --------------------
// 공통 스타일
body {
  background-color: $color-black;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: $color-white;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0;
}

.btn {
  height: 50px;
  padding: 0 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  color: $color-white;
  background-color: $color-area;
  cursor: pointer;
  transition: .3s;
}
.btn:hover {
  background-color: $color-hover;
  color: $color-black;
}
.btn-primary {
  background-color: $color-primary;
  color: $color-black;
}
.btn-primary:hover {
  background-color: $color-hover;
  color: $color-white;
}


// class style -----------------------------
.headline {
  margin-bottom: 40px;

  h1 {
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    line-height: 1;
    margin-bottom: 40px;

    span {
      font-size: inherit;
      color: $color-primary;
      display: block;
    }
  }

  p {
    color: $color-white-30;
  }
}


.search {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;

  input {
    flex-grow: 1;
    height: 50px;
    padding: 0 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
    color: $color-white;
    background-color: $color-area;
  }

  input::placeholder {
    color: $color-white-30;
  }

  .btn {
    flex-grow: 1;
    max-width: 150px;
  }
}


